---
import "../styles/global.css";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import Card from '../components/Card.astro';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
  </head>
  <body class="text-[#B6AEAE]">
   
    <Header />
    
      <About />   
   
    <Card />

    <Footer />

    <script type="module" src="../scripts/themeToggle.js"></script>
  </body>
</html>
