---

---

<section
  class="flex flex-col items-center p-5 space-y-4 md:flex-row md:space-y-0 bg-[#333333] about"
>
  <div class="w-full md:w-1/2 text-left">
    <div class="bg-[#726B6B] rounded-sm text-black p-5 containerr">
      <p>
        My name is Pablo, I'm web developer at in Spain.
        I'm currently studying Angular, Laravel, Astro and Docker, and I'm also
        preparing my final project. You can contact me and see my skills on the
        pages below.
      </p>
    </div>

    <div class="mt-30">
      <p>
        Passionate about web development, I love turning ideas into attractive,
        functional, and efficient websites and applications. I work with
        Angular, Laravel, HTML, CSS, JavaScript, PHP, and MySQL, combining
        design and technology to create seamless digital experiences. I'm always
        learning and improving to deliver innovative and high-quality solutions.
      </p>
    </div>
  </div>

  <div class="w-full md:w-1/2 flex justify-center mt-4 md:mt-0">
    <img
      src="src/img/persona.jpg"
      alt="Tu Foto"
      class="w-3/4 md:max-w-md rounded-lg shadow-lg"
    />
  </div>
</section>
