<section class="flex flex-col items-center p-8 space-y-6 md:flex-row md:space-y-0 bg-[#333333] text-gray-400 transition-all duration-300 dark:bg-[#6d6d6d] dark:text-gray-200">
  <div class="w-full md:w-2/5 text-left space-y-6">
    <div class="bg-[#726B6B] rounded-sm text-black p-6 text-justify dark:bg-[#2d2d2d] dark:text-gray-200">
      <p>
        My name is Pablo, I'm a web developer in Spain.
        I'm currently studying Angular, Laravel, Astro, and Docker, while also
        preparing my final project. You can contact me and see my skills on the
        pages below.
      </p>
    </div>

    <p class="text-white leading-relaxed text-justify dark:text-gray-300">
      Passionate about web development, I love turning ideas into attractive,
      functional, and efficient websites and applications. I work with
      Angular, Laravel, HTML, CSS, JavaScript, PHP, and MySQL, combining
      design and technology to create seamless digital experiences. I'm always
      learning and improving to deliver innovative and high-quality solutions.
    </p>

    <div class="bg-[#333333] py-8 fondoContacto dark:bg-[#535353]">
      <h2 class="text-white text-xl font-semibold mb-6 dark:text-gray-200">
        The skills, tools, and technologies I use:
      </h2>

      <div class="grid grid-cols-4 gap-6 justify-center items-center">
        <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank"><img src="src/img/lenguage/html.png" alt="HTML5" class="w-14 h-14 md:w-16 md:h-16" /></a>
        <a href="https://www.php.net/docs.php" target="_blank"><img src="src/img/lenguage/php.png" alt="PHP" class="w-14 h-14 md:w-16 md:h-16" /></a>
        <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank"><img src="src/img/lenguage/css3.png" alt="CSS" class="w-14 h-14 md:w-16 md:h-16" /></a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="src/img/lenguage/javascript.png" alt="JS" class="w-14 h-14 md:w-16 md:h-16" /></a>
        <a href="https://docs.oracle.com/en/java/" target="_blank"><img src="src/img/lenguage/java.png" alt="Java" class="w-14 h-14 md:w-16 md:h-16" /></a>
        <a href="https://github.com/" target="_blank"><img src="src/img/social/github.png" alt="GitHub" class="w-14 h-14 md:w-16 md:h-16" /></a>
        <a href="https://dev.mysql.com/doc/" target="_blank"><img src="src/img/lenguage/mysql.png" alt="MySQL" class="w-14 h-14 md:w-16 md:h-16" /></a>
        <a href="https://code.visualstudio.com/" target="_blank"><img src="src/img/lenguage/vscode.png" alt="VS Code" class="w-14 h-14 md:w-16 md:h-16" /></a>
      </div>
    </div>
  </div>

  <div class="w-full md:w-3/5 flex justify-center md:justify-end">
    <img src="src/img/personasinfondomejor.png" alt="Tu Foto" class="w-full max-w-md md:max-w-lg lg:max-w-xl rounded-lg" />
  </div>
</section>
