<footer class="p-4 transition-all duration-300 bg-[#121212] text-gray-400 dark:bg-[#2d2d2d] dark:text-gray-200">
    <div class="text-center">
      <p>Locality: Orihuela - Alicante</p>
      <p>Email: pablogc2233@gmail.com</p>
      <p>Number: +123 456 789</p>
    </div>
</footer>
