<div class="bg-[#333333] dark:bg-[#555555] text-[#B6AEAE] dark:text-[#f5f5f5] p-10 proyecto">
  <div class="max-w-5xl mx-auto mt-10">
    <h1 class="text-4xl font-bold mb-8 text-center text-[#B6AEAE] dark:text-[#ffffff]">
      Latest Business Project
    </h1>

    <p class="text-xl leading-relaxed text-justify text-[#B6AEAE] dark:text-[#fafafa]">
      The goal of our project: a platform that combines the best of a forum and
      a social network, designed especially for space lovers. Using Laravel,
      Angular and WebSockets, we are building a dynamic, real-time environment
      where users will be able to interact fluidly, share content and connect
      with other knowledge explorers. We want every conversation to be an
      immersive experience, inspiring curiosity and learning. Space unites us,
      and our community will be the ideal place for all those interested in
      astronomy, space exploration and science to meet, discuss and dream
      together about what lies beyond our planet.
    </p>

    <div class="flex flex-col items-center mb-8">
      <img
        src="/src/img/proyectofoto.png"
        alt="Proyecto Final"
        class="w-full max-w-4xl h-auto rounded-lg shadow-xl"
      />
      
      
      <a
        href="https://github.com/" 
        target="_blank" 
        rel="noopener noreferrer"
        class="mt-6 bg-[#5f5f5f] dark:bg-[#777777] text-black dark:text-white font-semibold py-3 px-6 rounded-lg text-lg transition hover:bg-[#cdcdcd] dark:hover:bg-[#bbbbbb] border-2"
      >
      Coming soon →
      </a>
    </div>

    <!-- Texto -->
    <p class="text-xl leading-relaxed text-justify text-[#B6AEAE] dark:text-[#fafafa]">
      Our project aims to revolutionize the way astronomy and space enthusiasts
      interact online. We developed a platform that merges the features of a
      forum with a social network, allowing users to share content, discuss
      theories, and stay informed about the latest advances in space
      exploration. To achieve an agile and real-time experience, we implemented
      Laravel in the backend, Angular in the frontend, and WebSockets for live
      communication.
    </p>
  </div>
</div>
